<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Webserve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1 class = "title">Arduino Webserve</h1>
<h2 class = "subtitle">Welcome to the Arduino Webserve!</h2>
    <p class="paragraph">If you would like to add a message, please fill out the form below!</p>
<form action="{{ url_for('main.register') }}" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message"><br><br>
    <input type="submit" value="Submit">
    <div class="logs">
   
    {% for entry in messages %}
    <div class="message-box" data-id="{{ loop.index }}">
        <strong>User: {{ entry.name }}</strong> 
        <br>
        <p>> {{ entry.message or "No Message Provided" }}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>
