<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Webserve</title>
</head>
<body>
    <h1 class="title">Arduino Webserve</h1>
    <h2 class="subtitle">Welcome to the Arduino Webserve!</h2>
    <p class="paragraph">If you would like to be added to the database, please fill out the form below.</p>

    <form action="{{ url_for('main.register') }}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message" required><br><br>
        
        <input type="submit" value="Submit">
    </form>

    <hr> <h3>Recent Entries:</h3>
    {% for entry in messages %}
    <div class="message-box" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
        <strong>{{ entry.name }}</strong> 
        <p>Message: {{ entry.message }}</p>
    </div>
    {% else %}
    <p>No entries found in the database yet.</p>
    {% endfor %}

</body>
</html>